.App{
    text-align: center
}
.Body{
    background-color: #000000;
    min-height: 100vh;
    padding-right: 0px;
    padding-left: 0px;
}
.Nav{
    height: 100px;
    padding-top: 45px;
}
.Logo{
    height: 20vh;
    max-height: 80px;
}
